backend/node_modules
user-app/node_modules
user-app/dist
super-admin-app/node_modules
super-admin-app/dist
admin-app/dist
admin-app/node_modules
admin-app/package-lock.json
super-admin-app/package-lock.json
user-app/package-lock.json
super-admin-app/package-lock.json
backend/.env
.claude
